In [8]:
# import
import pandas as pd
import numpy as np

res = pd.read_csv('31159.csv').merge(pd.read_csv('31455.csv'), on='id', suffixes=['1', '2'])
res.head()

      id    price_doc1    price_doc2
0  30474  5.451589e+06  5.382922e+06
1  30475  8.248546e+06  8.197580e+06
2  30476  5.364040e+06  5.318468e+06
3  30477  6.123861e+06  5.798978e+06
4  30478  5.100209e+06  4.995065e+06

In [9]:
res['price_doc'] = np.exp(np.log(res.price_doc1) * .7 + np.log(res.price_doc2) * .3)
res.drop(['price_doc1', 'price_doc2'], axis=1, inplace=True)
res.to_csv('sub.csv', index=False)
res.head()

      id     price_doc
0  30474  5.430898e+06
1  30475  8.233223e+06
2  30476  5.350327e+06
3  30477  6.024530e+06
4  30478  5.068435e+06