In [6]:
import numpy as np
import pandas as pd

In [7]:
a = pd.read_csv('91009.csv')
b = pd.read_csv('91008.csv')
c = pd.read_csv('90965.csv')
d = pd.read_csv('90949.csv')

In [8]:
results = a.merge(b, on='id', suffixes=['a', 'b']).merge(c, on='id').merge(d, on='id', suffixes=['c', 'd'])
results.head()

   id    labela    labelb    labelc    labeld
0   0  0.256158  0.279404  0.264568  0.249552
1   1  0.142233  0.157170  0.135124  0.125176
2   2  0.894375  0.886507  0.905246  0.905587
3   3  0.049034  0.050241  0.039421  0.037938
4   4  0.705365  0.718549  0.772086  0.774087

In [9]:
results["label"] = np.exp(np.log(results.labela) * .3 + np.log(results.labelb) * .3
                          + np.log(results.labelc) * .25 + np.log(results.labeld) * .15)
results = results.drop(['labela', 'labelb', 'labelc', 'labeld'], axis=1)
results.head()

   id     label
0   0  0.264016
1   1  0.141946
2   2  0.896379
3   3  0.045005
4   4  0.735692

In [10]:
results.to_csv('merge.csv', index=False)