In [32]:
import numpy as np
import pandas as pd

In [33]:
a = pd.read_csv('22686.csv')
b = pd.read_csv('22851.csv')
c = pd.read_csv('23235.csv')
d = pd.read_csv('23375.csv')

In [34]:
results = a.merge(b, on='id', suffixes=['a', 'b']).merge(c, on='id').merge(d, on='id', suffixes=['c', 'd'])
results.head()

   id  referencea  referenceb  referencec  referenced
0   0   48.342272   48.340544   48.337091   48.348603
1   1   76.022342   76.029500   76.043827   75.996082
2   2   85.467235   85.466523   85.465100   85.469844
3   3   48.484876   48.486144   48.488679   48.480228
4   4   90.411599   90.409735   90.406009   90.418430

In [35]:
results["reference"] = np.exp(np.log(results.referencea) * .4 + np.log(results.referenceb) * .3
                              + np.log(results.referencec) * .2 + np.log(results.referenced) * .1)
results.drop(["referencea", "referenceb", "referencec", "referenced"], axis=1, inplace=True)
results.head()

   id  reference
0   0  48.341350
1   1  76.026159
2   2  85.466855
3   3  48.485552
4   4  90.410605

In [36]:
results.to_csv('merge.csv', index=False)